<div class="container well">
    <h2 class="bold">Wallet</h2>

    <div class="row text-center balance">
        <span class="bold">Your balance:</span> ${{ $ctrl.balance | number : 2 }}
    </div>

    <div class="row">
        <form name="depositFunds" class="form-inline center-block col-sm-6" ng-submit="$ctrl.depositFunds($ctrl.depositAmount)">
            <label for="deposit">Deposit funds: </label>
            <input ng-model="$ctrl.depositAmount" type="number" id="deposit" step="0.01" placeholder="$0.00"/>
            <button type="submit" class="btn btn-primary">Deposit</button>
        </form>

        <form name="withdrawFunds" class="form-inline col-sm-6" ng-submit="$ctrl.withdrawFunds($ctrl.withdrawAmount)">
            <label for="withdraw">Withdraw funds: </label>
            <input ng-model="$ctrl.withdrawAmount" type="number" id="withdraw" step="0.01" placeholder="$0.00"/>
            <button type="submit" class="btn btn-primary">Withdraw</button>
        </form>
    </div>
</div>

<div class="container well">
    <h2 class="bold">Shareholdings</h2>

    <div ng-if="assets.length">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Units</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in assets">
                    <td class="col-md-3">{{asset.name}}</td>
                    <td class="col-md-3">${{asset.price}}</td>
                    <td class="col-md-3">{{asset.units | number : 3}}</td>
                    <td class="col-md-3">${{asset.price * asset.units | number : 2}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row text-center balance">
        <span class="bold">Total asset value: </span>${{totalAssetValue() | number : 2}}
    </div>

    <div class="row">
        <form name="sellStock" ng-submit="sellAsset()">
            <label for="ticker">Ticker: </label>
            <input ng-model="name" type="text" id="ticker" placeholder="e.g GOOGL"/>
            <label for="units">Units: </label>
            <input ng-model="units" type="number" id="units" step="0.001" placeholder="0.000"/>
            <button type="submit" class="btn btn-danger">Sell</button>
        </form>
    </div>
</div>